@import'medias';
@import 'fonts';



/**variables**/




$estilos:( 
   color:white,
   background-color:black,
);


@mixin size ($alto,$ancho) {
   width: $alto;
   height: $ancho;
   
}

%texto{
   font-size: 1rem;
   background-color: rgb(196, 196, 196);
 }



/**menu de todas las páginas**/

.maestro{
       
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
   }

     header{
      background-color: rgb(112, 196, 189);
      padding: 40px;
      padding-bottom: 40px;



     nav { 

        .logo{
            width: 100px;
            border-radius: 15px;
        }
     

       ul {

         list-style-type: none;
         display: flex;   
         gap: 5px; 
         font-family: 'Cairo', sans-serif;
         font-size: 15px;
         padding-top: 5px;
         margin: 20px;

      


             .menuitem:hover{
             background-color: rgb(112, 196, 189);

             }

             .menuitem{
                border: ridge;
                background-color: white;
               
                font-weight: bold;
                border-style: outset;

             }
        }
      }
   }
}

 
/**Home**/

 .imagen1 {
   color: white;
   background-image: url("../img/grisperla.jpg");
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
              .giro:hover{
              transform: rotate(-30deg);
              }

              .giro{
                 font-family: $font-family1;
                 font-size: 50px;
              }
}







/**Quiénes somos**/

    .parraparra{
     display: flex;
     justify-content: center;
     padding-top: 10px;
     padding-bottom: 10px;
     background-color: rgba(202, 202, 202, 0.925);
     color: black;
     border-style: outset;
     font-size: $sizetitulos;
     font-family:$font-family2;
   }

   .parra{
      @extend %texto;
      font-family:$font-family3;
      font-size: 1.5em;
   }

    .parra::selection{
     background-color: map-get($estilos ,color);
     color: map-get($estilos, color);
    }

     .quienessomos{
        padding-top: 100px;
    }
    

/**Nuestros servicios**/    


.sexion{
      
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: rgba(202, 202, 202, 0.925);
      color: black;
      border-style: outset;
}


.parrafosiguiente{
       p{
         display: flex;
         justify-content: center;
         font-family:$font-family3;
       }

}

.sexion2{
padding: 30px;

}

.sexiontitulo{
   font-size: $sizetitulos;
   font-family:$font-family2;
}

.titulotrab{
background-color: white;
color:black;
padding: 30px;
font-size: $sizetitulos;
}

.tablat{
background-color: white;
}


.pres{ 
   display: flex;
   justify-content: center;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: rgba(202, 202, 202, 0.925);
   color: black;
   border-style: outset;
            .presupuesto{
               font-size: $sizetitulos;
               font-family: $font-family2;
            }


}


/**nuestros trabajos**/

 .titulotrab{
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: rgba(202, 202, 202, 0.925);
   color: black;
   border-style: outset;
   font-family:$font-family2;
   display:flex;
   justify-content: center;
 }

 .gallerystart{
    width: 50%;
   padding: 2px;
   margin: auto;
   display: block;
   margin-top: 10px;
   margin-bottom: 10px;
}


 .padre{
    
    padding: 15px;
    }

 .contenedor{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }


.titulo1 {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding-block: 30px;
}

.letra1{
    background-color: rgba(0,0,0,.4);
   color:black;
}


/**un vistazo**/

  .parrafo2{
   
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(202, 202, 202, 0.925);
    color: black;
    border-style: outset;
    font-size: $sizetitulos;
    font-family:$font-family2;
   }

   .parrafito{
      padding-left: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      font-family: $font-family3;
   }

  .video-responsive {

   @include size(60%,500px);
    margin-right: 15px;
    margin-left: 15px;
    margin: auto;
    display: block;

  }

 .parrafovideo{

    background-color: white;

 }



  /**nuestro equipo**/

   .marios:hover{
      filter: opacity(0.5);
   }

    #parrafoimagen{

      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: rgba(202, 202, 202, 0.925);
      color: black;
      border-style: outset;
      font-size: $sizetitulos;
      font-family:$font-family2;

    }

    
    .marios {
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: auto;
    display:block;
    }


   .emprend{
         margin-top: 50px;
         margin-right: 15px;
         margin-left: 15px;
         font-family: $font-family3;
         text-align: center;
         

       
   }


    /**sección del footer de todas las páginas**/

   /**columnas**/

   .itemcontacto{
      list-style-type: none;
      text-decoration: none;
      padding: 12px;
    }
  
    .primerdetalle{
     padding-top: 30px;
   }
  
   .segundodetalle{
      display: flex;
      justify-content: end;
      padding-top: 30px;
      padding-bottom: 30px;
   }
  
   .miksa{
      width: 100px;
   }
  
   .primerdetalle::selection{
      background-color: black;
      color:white;
   }
  
   .textomio::selection{
      background-color: black;
      color: white;
   }
  
  
      .futer {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 15px;
      }
      
  
      .futerquienes{
      display: flex;
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 15px;
      }
  
  /**redessociales**/   
   
  
   $redes: (
     facebook:white,
     instagram:white,
     whatsapp:white,
   );
  
   @each $redsocial, $colordered in $redes {
     .fa-#{$redsocial}{
        background-color: $colordered;
     }  
  }

