@charset "UTF-8";
/**mediaqueries**/
/**'nuestros trabajos' media querie para 769px (tablet)**/
@media screen and (max-width: 769px) {
  .encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /**gallery 769**/
  .gallerystart {
    width: 50%;
  }
  /**'nuestro equipo' media querie para 769px (tablet)**/
  .logo {
    justify-content: center;
  }
  .marios {
    display: flex;
    width: 300px;
    height: 250px;
    justify-content: center;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  /**'index media querie para 769 px (tablet)**/
  .menu {
    color: white;
    list-style-type: none;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-family: "Cairo", sans-serif;
    font-size: 15px;
    width: 100%;
  }
}
/**gallery ajuste 520**/
@media screen and (max-width: 520px) {
  .corrido {
    width: 90%;
    padding: 5px;
  }
}
/**media querie para 460px (mobile)**/
@media screen and (max-width: 460px) {
  /**index media querie para 460px (mobile)**/
  .maestro {
    clear: both;
    margin: 0;
    width: 100%;
  }
  .encabezado {
    background-color: rgb(12, 12, 56);
    padding: 0, 5px;
  }
  .imagen1 {
    font-size: 10px;
  }
  .menu {
    color: white;
    list-style-type: none;
    display: flex;
    gap: 3px;
    text-align: center;
    justify-content: center;
    font-family: "Cairo", sans-serif;
    font-size: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  /**'nuestro equipo' media querie para 460px (mobile)**/
  .bros {
    display: flex;
    width: 300px;
    height: 250px;
    justify-content: center;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
/**index media querie 398px**/
@media screen and (max-width: 398px) {
  .menu {
    color: white;
    list-style-type: none;
    display: flex;
    gap: 1px;
    text-align: center;
    justify-content: center;
    font-family: "Cairo", sans-serif;
    font-size: 3px;
    width: 100%;
    flex-wrap: wrap;
  }
  .marios {
    display: flex;
    width: 280px;
    height: 250px;
    justify-content: center;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  /**footer**/
  .futer {
    font-size: 15px;
  }
}
/**variables**/
.parra {
  font-size: 1rem;
  background-color: rgb(196, 196, 196);
}

/**menu de todas las páginas**/
.maestro * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.maestro header {
  background-color: rgb(112, 196, 189);
  padding: 40px;
  padding-bottom: 40px;
}
.maestro header nav .logo {
  width: 100px;
  border-radius: 15px;
}
.maestro header nav ul {
  list-style-type: none;
  display: flex;
  gap: 5px;
  font-family: "Cairo", sans-serif;
  font-size: 15px;
  padding-top: 5px;
  margin: 20px;
}
.maestro header nav ul .menuitem:hover {
  background-color: rgb(112, 196, 189);
}
.maestro header nav ul .menuitem {
  border: ridge;
  background-color: white;
  font-weight: bold;
  border-style: outset;
}

/**Home**/
.imagen1 {
  color: white;
  background-image: url("../img/grisperla.jpg");
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen1 .giro:hover {
  transform: rotate(-30deg);
}
.imagen1 .giro {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 50px;
}

/**Quiénes somos**/
.parraparra {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(202, 202, 202, 0.925);
  color: black;
  border-style: outset;
  font-size: 2.3em;
  font-family: "Libre Baskerville", serif;
}

.parra {
  font-family: "DM Serif Display", serif;
  font-size: 1.5em;
}

.parra::-moz-selection {
  background-color: white;
  color: white;
}

.parra::selection {
  background-color: white;
  color: white;
}

.quienessomos {
  padding-top: 100px;
}

/**Nuestros servicios**/
.sexion {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(202, 202, 202, 0.925);
  color: black;
  border-style: outset;
}

.parrafosiguiente p {
  display: flex;
  justify-content: center;
  font-family: "DM Serif Display", serif;
}

.sexion2 {
  padding: 30px;
}

.sexiontitulo {
  font-size: 2.3em;
  font-family: "Libre Baskerville", serif;
}

.titulotrab {
  background-color: white;
  color: black;
  padding: 30px;
  font-size: 2.3em;
}

.tablat {
  background-color: white;
}

.pres {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(202, 202, 202, 0.925);
  color: black;
  border-style: outset;
}
.pres .presupuesto {
  font-size: 2.3em;
  font-family: "Libre Baskerville", serif;
}

/**nuestros trabajos**/
.titulotrab {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(202, 202, 202, 0.925);
  color: black;
  border-style: outset;
  font-family: "Libre Baskerville", serif;
  display: flex;
  justify-content: center;
}

.gallerystart {
  width: 50%;
  padding: 2px;
  margin: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.padre {
  padding: 15px;
}

.contenedor {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo1 {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding-block: 30px;
}

.letra1 {
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
}

/**un vistazo**/
.parrafo2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(202, 202, 202, 0.925);
  color: black;
  border-style: outset;
  font-size: 2.3em;
  font-family: "Libre Baskerville", serif;
}

.parrafito {
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-family: "DM Serif Display", serif;
}

.video-responsive {
  width: 60%;
  height: 500px;
  margin-right: 15px;
  margin-left: 15px;
  margin: auto;
  display: block;
}

.parrafovideo {
  background-color: white;
}

/**nuestro equipo**/
.marios:hover {
  filter: opacity(0.5);
}

#parrafoimagen {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(202, 202, 202, 0.925);
  color: black;
  border-style: outset;
  font-size: 2.3em;
  font-family: "Libre Baskerville", serif;
}

.marios {
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin: auto;
  display: block;
}

.emprend {
  margin-top: 50px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "DM Serif Display", serif;
  text-align: center;
}

/**sección del footer de todas las páginas**/
/**columnas**/
.itemcontacto {
  list-style-type: none;
  text-decoration: none;
  padding: 12px;
}

.primerdetalle {
  padding-top: 30px;
}

.segundodetalle {
  display: flex;
  justify-content: end;
  padding-top: 30px;
  padding-bottom: 30px;
}

.miksa {
  width: 100px;
}

.primerdetalle::-moz-selection {
  background-color: black;
  color: white;
}

.primerdetalle::selection {
  background-color: black;
  color: white;
}

.textomio::-moz-selection {
  background-color: black;
  color: white;
}

.textomio::selection {
  background-color: black;
  color: white;
}

.futer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.futerquienes {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

/**redessociales**/
.fa-facebook {
  background-color: white;
}

.fa-instagram {
  background-color: white;
}

.fa-whatsapp {
  background-color: white;
}/*# sourceMappingURL=estilo.css.map */