* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/** Index-nuestros trab-**/

.maestro {
     
          clear: both;
          margin: 0 ;
          width: 100%;
         
}

/** LOGO Y MENU**/


.logo { 
     width: 100px;
     border-radius: 15px;
}

.encabezado{ 
     background-color: rgb(12, 12, 56);
     display: flex;
     justify-content: start;
     padding: 40px;
     padding-bottom: 40px;
}

.navbar{
     width: 100%;
     display: flex;
     justify-content: center;
}


.menu { 
     list-style-type: none;
     display: flex;   
     gap: 5px;
     text-align: center;
     justify-content: center;
     font-family: 'Cairo', sans-serif;
     font-size: 20px;
     padding-top: 20px;
    }

.menuitem{
     color: blue;
     text-decoration: none;
     padding: 1rem;
}

.menuitem:hover{
     background-color: rgb(19, 170, 70);
     color: blueviolet;
}

/**IMAGEN DEL MEDIO**/

.imagen1 {
     color: white;
     background-image: url("../img/fondo.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     height: 350px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     font-family: 'Cairo', sans-serif;
    }


    .menuitem{
     border: ridge;
     background-color: white;
     color: black;
     font-weight: bold;
    }

   /**columnas**/

.itemcontacto{
     list-style-type: none;
     text-decoration: none;
    
}

.primerdetalle{
     padding-right: 30px;
     padding-top: 30px;
}

.segundodetalle{
     display: flex;
     justify-content: end;
     padding-top: 30px;
     padding-bottom: 30px;
}

.miksa{
     width: 100px;
}

.primerdetalle::selection{
     background-color: black;
     color:white;
}

.textomio::selection{
     background-color: black;
     color: white;
}

/**footer**/

.futer{
     display: flex;
     justify-content: center;
}

.futerquienes{
     display: flex;
     justify-content: center;
}


/** Quienes somos **/

.parrafo1 {
     margin: 30px;
     padding: 80px;
     padding-top: 20px;
}

.ultima{
     padding-top: 135px;
}

.parra::selection{
     background-color: black;
     color: white;
}

.parraparra::selection{
     background-color: black;
     color: white;
}


/** Nuestro equipo**/
.equipo {
      margin: 30px;
}

.bros{
     padding: 30px;
}

/**Nuestros servicios**/

.colorgeneral{
          background:  rgb(12, 12, 56);
          justify-content: center;
          align-items: center;
}


.sexion{
    background-color: white;
    color:  black;
    text-align: center;
}

.sexion2{
     padding: 30px;
}

.titulotrab{
     background-color: white;
     color:black;
     padding: 30px;
}

.tablat{
     background-color: white;
}

.pres{
     background-color: white;
}

/**Vistazo**/

.parrafo2{
     margin: 30px;
}

.video-responsive {
     
          width: 100%;
          height: 400px;
          display: flex;
          justify-content: center;
}

.parrafovideo{
     background-color: white;
}

.seccionmaestre{
     padding: 50px;
}


/**Galería**/

.gallerystart{
     width: 750px;
     padding: 50px;
}


.padre{
     
     padding: 15px;
     display: grid;
     }


.contenedor{
     width: 800px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}


.titulo1 {
     display: flex;
     align-content: center;
     flex-direction: column;
     align-items: center;
     padding-block: 30px;
}

.letra1{
     background-color: rgba(0,0,0,.4);
    color:black;
}



/**animación**/

.giro:hover{
     transform: rotate(-30deg);
}


/**media querie para 460px (mobile)**/

@media screen and (max-width:460px) {

      /**gallery media querie 460px**/


     .gallerystart {
          width: 300px;
          padding: 12px;
          }
      

     /**index media querie para 460px (mobile)**/


     .maestro {
     
          clear: both;
          margin: 0;
          width: 100%;
     
          }


          .encabezado {
          background-color:  rgb(12, 12, 56);
          padding: 0,5px;
          }
     
          .imagen1 {
               font-size: 10px;
               
              }
           
          

          .menu{ 
               color: white;
               list-style-type: none;
               display: flex;   
               gap: 3px;
               text-align: center;
               justify-content: center;
               font-family: 'Cairo', sans-serif;
               font-size: 10px;
               width: 100%;
               flex-wrap: wrap;
          }


           /**'nuestro equipo' media querie para 460px (mobile)**/
     
          .bros { width: 200px;
               height: 250px;
               display: flex;
               justify-content: center;
          } 
     
     }

      /**index media querie para iphone SE 375px**/


      @media screen and (max-width:375px) {
        
      
      
     .gallerystart {
          width: 360px;
          padding: 10px;
          }


     .menu{ 
          color: white;
          list-style-type: none;
          display: flex;   
          gap: 1px;
          text-align: center;
          justify-content: center;
          font-family: 'Cairo', sans-serif;
          font-size: 3px;
          width: 100%;
          flex-wrap: wrap

     }
     

     } 

         /**'nuestros trabajos' media querie para 769px (tablet)**/
     
     @media screen and (max-width:769px){
        

          .encabezado{
                        display: flex;
                        justify-content: center;
                        align-items: center;
               }

          .gallerystart {
               width: 600px;
               padding: 10px;
               }

 /**'nuestro equipo' media querie para 769px (tablet)**/

          .logo{
               justify-content: center;
          }

          .bros { 
               display: flex;
               width: 300px;
               height: 270px;
               justify-content: center;
          }

     
      /**'index media querie para 769 px (tablet)**/
    

      .menu{ 
          color: white;
          list-style-type: none;
          display: flex;   
          gap: 5px;
          flex-wrap: wrap;
          text-align: center;
          justify-content: center;
          font-family: 'Cairo', sans-serif;
          font-size: 15px;
          width: 100%;
     }



     }
     